
.all {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vw; */
        overflow-y: auto;
        height: 100px;
}

.CardContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
    height: 650px;
}


.EstatisticasContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    background-color: rgb(255, 30, 30);
    width: 100%;
    height: 20px;
}
.card {
    
    width: 330px;
    height: auto;
    padding:20px;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    border: 1px solid #313131;
    background-color: var(--gray);
    border-radius: 2px 20px 2px 20px;
}

.SeeDetails {
    outline: none;
    border: none;
    background-color: var(--principal);
    color: white;
    padding: 10px;
   border-radius: 2px 20px 2px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
     transition: .5s ease-in-out;
}

.SeeDetails:hover {
    background-color: var(--principal-hover);
    border: 2px solid rgb(107, 29, 29);
    background: linear-gradient(to right, rgb(172, 64, 64), rgb(107, 29, 29));
    box-shadow: 0px 0px 50px 5px rgb(107, 29, 29);
     transition: .5s ease-in-out;
}

.SeeDetails:hover::before {
    background: linear-gradient(90deg, red, white, blue);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    z-index: auto;
    transition: .5s ease-in-out;
}

@media screen and (max-width: 1440px) {
    .CardContainer {
        grid-template-columns: repeat(3, 1fr);
    }
    
}@media screen and (max-width: 1024px) {
    .CardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 768px) {
    .CardContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    
}