/* style.module.css */
.EstatisticasContainer {
    background: var(--gray);
    color: white;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: row;
    z-index: 1000;
    width: 95%;
    top: 100;
    /* left: 0; */
    height: 20px;
    margin: 45px;
    padding: 20px;
    border-radius: 20px 5px 20px 5px;
    list-style: none;
    border : 1px solid var(--gray-alpha-200);
}

.nav {
    display: flex;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
}

.menu {
        gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}