
.EstatisticasContainer {
    background: var(--gray);
    color: white;
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    flex-direction: row;
    z-index: 1000;
    width: 100%;
    top: 20px;
    left: 50%;
    /* height: 20px; */
    /* margin: 45px; */
    padding:10px 20px;
    transform: translate(-50%);
    border-radius: 50px;
    list-style: none;
    gap: 20px;
    border : 1px solid var(--gray-alpha-200);
    max-width: 1200px;
    top: 136px;
}

.nav, .menu, .btnContainer {
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}


.inputText {
    /* position: absolute; */
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;

    background: var(--gray-alpha-200);
}


